<form method="GET" >
    <input type="radio" name="role" value="ROLE_RECRUITER"/>Recruiter
    <br>
    <input type="radio" name="role" value="ROLE_CANDIDAT" />Candidat
    <br>
    <button type="submit" >Valider</button>
</form>
