{{ form_start(form) }}
    {{ form_widget(form) }}
    <select>
        <option value="ROLE_Admin">Admin</option>
        <option value="ROLE_USER">User</option>
    </select>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
